<section class="container mx-auto py-10 pb-20">
    <h3 class="text-2xl text-center">PREMIUM AMENITIES</h3>
    <h2 class="md:text-6xl text-4xl  text-center">
      Residents can enjoy <br />
      resort-style amenities
    </h2>
  
    <div class="amenities-item flex lg:flex-row flex-col mx-10  md:m-20 md:mx-40 items-center gap-5">
      <div class="text-container flex flex-col gap-8">
        <p class="lg:text-2xl text-xl text-center lg:text-left flex-1  ">
          Distinctly modern, the lobby at Ellington House is an artsy, edgy space
          with an understated elegance.
        </p>
        <p class="text-base text-center lg:text-left">
          High floor-to-ceiling windows frame the lush greenery of outside while
          acting as entryways for the beautiful natural light to accentuate the
          soft color palette of the lobby.
        </p>
      </div>
      <div
        class="image-container lg:w-96 lg:h-96 w-72 h-72 rounded-full p-4 border flex-shrink-0"
      >
        <img
          src="../assets/Ellington House_Lobby.jpg"
          class="h-full w-full rounded-full object-cover"
          alt=""
          srcset=""
        />
      </div>
    </div>
  
    <div class="amenities-item mt-5 flex lg:flex-row flex-col-reverse mx-10  md:m-20 md:mx-40 items-center gap-5">
      <div
        class="image-container lg:w-96 lg:h-96 w-72 h-72 rounded-full p-4 border flex-shrink-0"
      >
        <img
          src="../assets/Pool.jpg"
          class="h-full w-full rounded-full object-cover"
          alt=""
          srcset=""
        />
      </div>
      <div class="text-container flex flex-col gap-8">
          <p class="lg:text-2xl text-xl text-center lg:text-left flex-1  ">
          It’s almost as if the pool deck at Ellington House was designed to bring
          resort-style entertainment to its residents
        </p>
        <p class="text-base text-center lg:text-left">
          With an illuminated infinity lap pool providing panoramic views of the
          iconic Dubai Hills Golf Course.
        </p>
      </div>
    </div>
  
    <div class="amenities-item mt-5 flex lg:flex-row flex-col mx-10  md:m-20 md:mx-40 items-center gap-5">
      <div class="text-container flex flex-col gap-8">
          <p class="lg:text-2xl text-xl text-center lg:text-left flex-1  ">
          The fitness centre at Ellington House goes beyond the expected standards
        </p>
        <p class="text-base text-center lg:text-left">
          Catering not only to the varied fitness needs of its residents, but also
          considers their moods, emotions, and habits.
        </p>
      </div>
      <div
      class="image-container lg:w-96 lg:h-96 w-72 h-72 rounded-full p-4 border flex-shrink-0"
    >
        <img
          src="../assets/Ellington House_Fitness Studio.jpg"
          class="h-full w-full rounded-full object-cover"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </section>