/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

// @import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,*
{
    // color: #646464;
    font-family: 'El Messiri', sans-serif;;
}
.base-font{


    font-family: 'Roboto', sans-serif;
    // color: #646464;
}

h3{
    color: #00618e;
}

.specialtext{
    color: rgb(59, 146, 189);
}
.ant-modal-header{
    background:rgba(0, 174, 230, 0.35)!important;



}
// 