<section class="container mx-auto flex flex-col gap-8 pb-28">
    <h2 class="md:text-6xl text-4xl  mt-10 text-center">About Ellington House</h2>
  
    <p class="text-xl md:text-center text-justify mx-10 ">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Praesentium ullam qui saepe deserunt quasi quis suscipit commodi, ipsum
      ratione sit obcaecati earum, 
      quo rerum a, debitis consequuntur delectus sapiente tenetur? Eum minima quia
      at 
      cum cupiditate vel consequuntur assumenda soluta expedita laudantium dolores
      cumque inventore, 
      sit accusantium tempore voluptatem voluptates.
    </p>
  </section>